* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100vh;
}

body {
    background-color: #E9ECF8;
}

header, main, footer {
    width: 100%;
    position: fixed;
}

header, footer, .encriptar {
    background-color: #0A3871;
    color: #FFFFFF;
}

header, footer {
    padding: 0.5em 2em;
}

header {
    top: 0;
}

main {
    top: 60px; 
    bottom: 40px; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

.principal {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.texto {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 3em 1.5em;
}

.logo {
    width: 5em;
    position: absolute;
    top: 15px;
    left: 15px;
}

#ingresar-texto {
    background-color: #E9ECF8;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: larger;
    color: #0A3871;
    padding: 2em;
    margin: 1em 0em;
}

#ingresar-texto::placeholder {
    color: #0A3871;
    font-weight: 500 ;
}

.principal-inferior {
    display: flex;
    flex-direction: column;    
    align-items: center;
}

 button, .advertencia {
    position: relative;    
}

.advertencia {
    width: 11em;
    right: 10.5em;
    margin: 2px;
}

.botones {
    display: flex;
    width: 35em;
    justify-content:space-around;
}

button {
    padding: 1em;
    width: 15rem;
    height:3rem;
    border-radius: 15px;
    border: 1px #0A3871 solid;
}

.desencriptar {
    background-color:#E9ECF8;
}

.mensaje {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 1em 1em 1.5em;
    justify-content: space-between;
    color: #343A40;
    text-align: center;
    margin: 0 1.7em;
}

.contenido-mensaje {
    height: 85%;
}

.mensaje img {
    width: 60%;
}

.mensaje p {
   font-size: medium;
}

.mensaje-encriptado {
    text-align: left;
    white-space: wrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

#copiar {
    background-color: #FFFFFF;
}

footer {
    bottom: 0;
    text-align: center;
}



/* mobile */
@media only screen and (max-width: 767px) {

    header, footer {
        text-align: center;
        padding: 0.5em;
    }

    h1 {
        font-size:large;
    }

    .logo {
        width: 3em;
    }

    .principal {
        padding: 0;
    }

    .principal, .botones {
        flex-direction: column;
        align-items: center;
    }
    
    button, .advertencia {
        margin: 2px;
    }
    
    .advertencia {
        width: 11em;
        right: 2em;
    }

    .texto, .mensaje {
        margin: 0;
        width: 75%;
    } 

    #ingresar-texto {
        width: 200px;
        height: 150px;
        margin-top: 1em;
        padding: 1em;
        align-self: center;
        text-shadow: none;
    }

    .mensaje {
        box-shadow:  1px 1px 5px #868E96;
    }

     .mensaje img{
        display: none;
    } 

    .botones, .copiar {
        margin-bottom: 1em; 
    }
} 

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .principal {
        flex-direction: column;
        align-items:  center;
        padding: 0;
    }

    .texto, .mensaje {
        align-items: center;
        padding: 0.5em;
        width: 90%;
    }

    #ingresar-texto {
        padding: 1em;
        width: 440px;
        height: 150px;
        align-self: center;
        text-shadow: none;
    }

    .logo {
        width: 4em;
        left: 3em;
    }

    .mensaje {
        box-shadow:  1px 1px 5px #868E96;
    }

    .mensaje img{
        display: none;
    }

    .contenido-mensaje {
        position: static;
        margin: 1em;
    }

    .botones, .copiar {
        margin-bottom: 1em;
    }
}